.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.increment .arrowSVG {
  transform: rotate(180deg);
}

.button.positive .arrowSVG path {
  fill: var(--green);
}

.button.negative .arrowSVG path {
  fill: var(--red);
}

.arrowSVG {
  width: 25px;
  height: 25px;
}

.value.positive {
  color: var(--green);
}

.value.negative {
  color: var(--red);
}
