.container {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--grey-1);
  color: var(--grey-1);
}
