.tag {
  padding: 2px 15px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background: white;
}

@media (max-width: 500px) {
  .tag.mobile {
    padding: 3px 8px;
    font-size: 13px;
  }
}
