.form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.search {
  width: 100%;
}

.filter {
  display: none;
  width: 131px;
}

.svg {
  width: 23px;
  height: 23px;
}

.svg.reversed {
  transform: rotate(180deg);
}

.svg path {
  fill: var(--grey-1);
}

.tagSVG {
  width: 25px;
  height: 25px;
}

.tagSVG path {
  stroke: var(--grey-1);
  stroke-width: 5px;
}

@media (max-width: 1080px) {
  .form {
    flex-wrap: wrap;
    gap: 6px;
  }

  .search {
    width: calc(100% - 137px);
  }

  .filter {
    display: flex;
  }

  .ordering {
    width: calc(60% - 3px);
  }

  .tag {
    width: calc(40% - 3px);
  }
}

@media (max-width: 490px) {
  .search {
    width: 100%;
    order: 1;
  }

  .filter {
    display: flex;
    order: 2;
  }

  .ordering {
    width: calc(100%);
    order: 3;
  }
  
  .tag {
    width: calc(100% - 137px);
    order: 2;
  }
}
