.container {
  display: flex;
  gap: 10px;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.socialMedia.light {
  background: #fff;
}

.socialMedia.dark {
  background: var(--main-1);
}

.socialMedia.light path {
  fill: var(--main-1);
}

.socialMedia.dark path {
  fill: #fff;
}
