.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stageDescription {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.paymentContainer {
  display: flex;
  max-width: 300px;
}

.paymentContainer > * {
  flex-grow: 1;
}

.productsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  box-sizing: border-box;
}

@media (max-width: 1230px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 550px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
