.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stageDescription {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.paymentContainer {
  display: flex;
  max-width: 300px;
}

.paymentContainer > * {
  flex-grow: 1;
}

.productsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
