.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--main-1);
}

.rowIcon svg path {
  fill: var(--main-1);
}

.paragraph {
  color: var(--grey-1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cccccc;
}
