.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image {
  width: 200px;
  transition: var(--hover);
}

.link:hover .image {
  -webkit-filter: none;
          filter: none;
  transition: var(--hover);
}
