.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 20px 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  min-width: 0;
  height: 100%;
}

.logoutButton {
  width: 100%;
  padding: 20px;
  color: var(--red);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}
