.button {
  position: relative;
  cursor: pointer;
}

.counter {
  position: absolute;
  background: var(--main-1);
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -10px;
  border-radius: 50%;
  font-size: 12px;
}

.button svg {
  width: 40px;
  height: 40px;
}
