.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.salePrice,
.actualPrice {
  font-size: 20px;
  font-weight: 700;
}

.salePrice {
  color: var(--red);
}

.oldPrice {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-1);
  text-decoration: line-through;
}
