.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 50px 5px rgba(14, 42, 71, .3);
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
