.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  align-items: end;
}

.label {
  padding: 0 0 5px 0;
  color: var(--grey-1);
}

.input,
.empty {
  border: 1px solid var(--grey-1);
  padding: 5px;
}

.input:first-of-type,
.empty:first-of-type {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.input:last-of-type,
.empty:last-of-type {
  border-radius: 0 5px 5px 0;
}

.empty {
  height: 30px;
}
