.tabs {
  display: flex;
}

.tabs.vertical {
  flex-direction: column;
}

.tabLink {
  display: flex;
  flex: 1 1 0;
}

.horizontalTab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  box-shadow: 0px -2px 0px var(--grey-1) inset;
  color: var(--grey-1);
  transition: var(--hover);
}

.verticalTab {
  flex-grow: 1;
  padding: 20px;
  transition: var(--hover);
}

.horizontalTab.active {
  color: var(--main-1);
  font-weight: 600;
  box-shadow: 0px -4px 0px var(--main-1) inset;
  transition: var(--hover);
}

.verticalTab.active {
  text-decoration: underline;
  background: var(--grey-2);
  transition: var(--hover);
}

@media (max-width: 600px) {
  .tabs {
    font-size: 14px;
  }
}
