.wrapper {
  position: relative;
  overflow: hidden;
  padding: 30px 0;
}

.polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 430px 4200px 0 0;
  border-color: var(--main-1) transparent transparent transparent;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}
