.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description {
  white-space: pre-line;
}

.description.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.button {
  color: var(--main-1);
}
