.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.showAllButton {
  width: 100%;
}

.arrowDownSVG path {
  fill: #fff;
}

@media (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1130px) {
  .content {
    grid-template-columns: 300px 1fr;
  }
}

@media (max-width: 1080px) {
  .content {
    grid-template-columns: 1fr;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media (max-width: 500px) {
  .products {
    grid-template-columns: 1fr;
  }
} */
