@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --container: 1300px;
  --hover: all 0.15s ease;
  --long: all 0.3s ease;
  --shadow: 10px 10px 50px 5px rgba(14, 42, 71, .3);

  --main-1: #0753A1;
  --main-2: #C7E0FA;
  --main-3: #092B4D;
  --main-1-transparent: rgba(7, 83, 161, .2);
  --main-1-disabled: rgb(115, 129, 143);
  --grey-1: #63676B;
  --grey-2: #E1E1E1;
  --red: #E11F1F;
  --green: #10C057;
  --blue: #0038FD;
  --yellow: #FFBE16;

  /* Настройка react-toastify */
  --toastify-color-info: var(--main-1);
  --toastify-color-success: var(--green);
  --toastify-color-warning: var(--yellow);
  --toastify-color-error: var(--red);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
}

.container {
  max-width: calc(1300px + 30px);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.h1 {
  font-size: 40px;
  font-weight: 700;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
}

.h3 {
  font-size: 24px;
  font-weight: 700;
}

.h4 {
  font-size: 20px;
  font-weight: 700;
}

a,
button {
  cursor: pointer;
}

.link {
  color: var(--main-1);
}

.error {
  font-size: 14px;
  color: var(--red);
}

.empty {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--grey-1);
}

.ibg {
  position: relative;
  overflow: hidden;
  background: #fff; /* default color */
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.greyImg {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 1270px) {
  body {
    font-size: 16px;
  }

  .h1 {
    font-size: 36px;
    font-weight: 700;
  }
  
  .h2 {
    font-size: 28px;
    font-weight: 700;
  }
  
  .h3 {
    font-size: 22px;
    font-weight: 700;
  }
  
  .h4 {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 15px;
  }

  .h1 {
    font-size: 33px;
    font-weight: 700;
  }
  
  .h2 {
    font-size: 25px;
    font-weight: 700;
  }
  
  .h3 {
    font-size: 21px;
    font-weight: 700;
  }
  
  .h4 {
    font-size: 18px;
    font-weight: 700;
  }
}
