@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --container: 1300px;
  --hover: all 0.15s ease;

  --main-1: #0753A1;
  --main-2: #C7E0FA;
  --main-3: #092B4D;
  --grey-1: #63676B;
  --grey-2: #E1E1E1;
  --red: #E11F1F;
  --green: #10C057;
  --blue: #0038FD;
  --yellow: #FFBE16;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.h1 {
  font-size: 40px;
  font-weight: 700;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
}

.h3 {
  font-size: 24px;
  font-weight: 700;
}

.h4 {
  font-size: 20px;
  font-weight: 700;
}
