.card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px 10px 10px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
}

.major {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.minor {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 40px;
}

.stockState,
.priceAndButtons {
  flex-shrink: 0;
}

.notInStock {
  color: var(--grey-1);
}

.image {
  width: 100px;
  height: 100px;
}

.productProperties {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.priceAndButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crossSVG {
  width: 20px;
  height: 20px;
}

.crossSVG path {
  fill: var(--grey-1);
}

.heartSVG {
  width: 40px;
  height: 40px;
}

.heartSVG path {
  stroke: var(--red);
  stroke-width: 3px;
}

.heartSVG.active path {
  fill: var(--red);
}

@media (max-width: 800px) {
  .card {
    align-items: flex-start;
  }
  
  .major {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
  }

  .minor {
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  .oldPrice {
    display: none;
  }

  .priceAndButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .priceAndButtons {
    gap: 5px;
  }
  
  .buttons {
    gap: 5px;
  }

  .heartSVG {
    width: 30px;
    height: 30px;
  }

  .crossSVG {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 460px) {
  .image {
    width: 80px;
    height: 80px;
  }

  .price p {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .price p {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .priceAndButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .minor {
    align-items: flex-end;
    width: 100%;
  }

  .price p {
    font-size: 18px;
  }
}
