.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
}

.majorInfo {
  width: 450px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.image {
  width: 130px;
  height: 130px;
}

.productProperties {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.minorInfo {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crossSVG {
  width: 20px;
  height: 20px;
}

.crossSVG path {
  fill: var(--grey-1);
}

.heartSVG {
  width: 40px;
  height: 40px;
}

.heartSVG path {
  stroke: var(--red);
  stroke-width: 3px;
}

.heartSVG.active path {
  fill: var(--red);
}
