.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nameAndRating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productDetails {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 20px;
  min-width: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  min-width: 0;
  box-shadow: 0 4px 40px rgba(132, 132, 132, 0.2);
  border-radius: 5px;
  padding: 40px 60px;
}

.main h1 {
  min-width: 0;
}

.mobileImage {
  display: none;
  max-width: 400px;
}

.rowStats {
  display: flex;
  align-items: center;
  gap: 15px;
}

.reviewsCount {
  color: var(--main-1);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heartSVG {
  width: 25px;
  height: 25px;
}

.heartSVG path {
  stroke: #fff;
}

.heartSVG.active {
  fill: var(--red);
}

.heartSVG.active path {
  stroke: var(--red);
}

.properties {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.priceAndVariants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 1000px) {
  .productDetails {
    grid-template-columns: 300px 1fr;
  } 
}

@media (max-width: 850px) {
  .productDetails {
    grid-template-columns: 250px 1fr;
  } 
}

@media (max-width: 760px) {
  .productDetails {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
  }

  .buttons {
    gap: 5px;
  }

  .main {
    box-shadow: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
    gap: 10px;
  }

  .container {
    padding-top: 40px;
  }
}

@media (max-width: 450px) {
  .mobileImage {
    max-width: 100%;
  }
}
