.category {
  position: relative;
}

.categorySelected {
  background: var(--main-1);
}

.categorySelected > .label {
  color: #fff;
}

.categorySelected .arrowSVG path {
  fill: #fff;
}

.subcategorySelected {
  background: var(--main-2);
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 60px;
  border: 1px solid var(--grey-1);
}

.button {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.opened {
  transform: rotate(180deg);
}

.arrowSVG {
  width: 30px;
  height: 30px;
}

.longArrowSVG {
  width: 30px;
  flex-shrink: 0;
}
