.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.img {
  width: 80px;
  height: 80px;
}

.text {
  font-size: 30px;
  font-weight: 700;
  color: var(--main-1);
}
