.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img {
  width: 80px;
  height: 80px;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-dark);
}

@media (max-width: 1200px) {
  .img {
    width: 60px;
    height: 60px;
  }

  .text {
    display: none;
  }
}
