.container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
}

.container.big {
  border: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button svg {
  width: 20px;
  height: 20px;
}

.container.big .button svg {
  width: 30px;
  height: 30px;
}

.button svg path {
  fill: var(--grey-1);
}

.button[disabled] svg path {
  fill: var(--grey-2);
}

.input {
  width: 50px;
  text-align: center;
}

.container.big .input {
  color: var(--main-1);
  font-size: 40px;
}

@media (max-width: 850px) {
  .container {
    gap: 5px;
    padding: 8px;
  }
  
  .button svg {
    width: 15px;
    height: 15px;
  }

  .input {
    width: 40px;
  }
}
