.container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
}

.button {
  cursor: pointer;
}

.button svg {
  width: 20px;
  height: 20px;
}

.button svg path {
  fill: var(--grey-1);
}

.input {
  width: 50px;
  text-align: center;
}
