.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  border: 1px solid var(--red);
  border-radius: 50%;
}

.body svg {
  width: 25px;
  height: 25px;
}

.body svg path {
  stroke: var(--red);
}
