.footer {
  color: #fff;
  background: var(--main-dark);
  font-size: 20px;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  gap: 30px;
  justify-content: space-between;
  padding: 100px 0 50px 0;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addressAndSchedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}

.link {
  transition: var(--hover);
  white-space: nowrap;
}

.link:hover {
  color: #fff;
  transition: var(--hover);
}

@media (max-width: 1100px) {
  .blocks {
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    row-gap: 30px;
    column-gap: 100px;
    padding: 50px 0 25px 0;
  }
}

@media (max-width: 920px) {
  .blocks {
    row-gap: 30px;
    column-gap: 50px;
    grid-template-columns: min-content;
    justify-content: center;
    font-size: 16px;
  }

  .addressAndSchedule {
    white-space: normal !important;
  }
}
