.footer {
  color: #fff;
  background: var(--main-dark);
  font-size: 20px;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: space-between;
  padding: 100px 0 50px 0;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addressAndSchedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: nowrap;
}

.link {
  transition: var(--hover);
  white-space: nowrap;
}

.link:hover {
  color: #fff;
  transition: var(--hover);
}

@media (max-width: 1100px) {
  .blocks {
    grid-template-columns: repeat(2, min-content);
    justify-content: start;
    row-gap: 30px;
    column-gap: 100px;
  }
}

@media (max-width: 800px) {
  .blocks {
    row-gap: 30px;
    column-gap: 50px;
  }
}

@media (max-width: 700px) {
  .blocks {
    grid-template-columns: min-content;
    justify-content: center;
  }
}

