.footer {
  color: #fff;
  background: var(--main-3);
}

.blocks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addressAndSchedule {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgba(255, 255, 255, .5);
}

.link {
  color:rgba(255, 255, 255, .6);
  transition: var(--hover);
}

.link:hover {
  color: #fff;
  transition: var(--hover);
}
