.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 533px 4179px 0 0;
  border-color: var(--main-1) transparent transparent transparent;
  z-index: -1;
}

.modal {
  max-width: 1100px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background: #FFF;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map {
  flex-grow: 1;
  border-radius: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-top: 1px solid var(--grey-1);
  padding: 20px;
}

@media (max-width: 1050px) {
  .main {
    grid-template-columns: 1fr 400px;
  }
}

@media (max-width: 850px) {
  .main {
    grid-template-columns: 1fr 350px;
  }
}

@media (max-width: 750px) {
  .main {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .footer {
    display: none;
  }
}
