.container {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  padding: 10px 0;
  max-width: 600px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 0;
}

.user {
  font-size: 20px;
  font-weight: 700;
}

.date {
  color: var(--grey-1);
  white-space: nowrap;
}

.user {
  word-break: break-word;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.starSVG {
  width: 15px;
  height: 15px;
  fill: var(--main-1);
}

.starSVG path {
  stroke: var(--main-1);
}

.reviewText {
  word-break: break-word;
}
