.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
  height: 100%;
}

.image {
  display: block;
  max-height: 275px;
  align-self: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  word-break: break-word;
}

.category {
  color: var(--grey-1);
}

.tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 5px;
  width: 100%;
}

.buttons > button:nth-child(2) {
  width: 100%;
}

@media (max-width: 500px) {
  .product.mobile {
    gap: 5px;
    padding: 10px;
  }

  .product.mobile .category {
    display: none;
  }

  .product.mobile .buttons {
    display: none;
  }

  .product.mobile .image {
    order: 1;
  }

  .product.mobile .tags {
    order: 2;
    flex-wrap: wrap;
    position: static;
  }

  .product.mobile .text {
    order: 3;
  }

  .product.mobile .stars {
    order: 4;
  }

  .product.mobile .price {
    order: 5;
  }
}
