.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  color: var(--grey-1);
}

.tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
}

.buttons > button:nth-child(2) {
  width: 100%;
}

.shoppingCartSVG {
  width: 25px;
  height: 25px;
}

.shoppingCartSVG path {
  stroke: white;
}

.checkSVG {
  width: 25px;
  height: 25px;
}

.checkSVG path {
  stroke: var(--main-1);
}
