.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.stages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}

.horizontalBar {
  position: absolute;
  top: 25px;
  width: calc(100% - 100px);
  height: 5px;
  background: var(--grey-2);
  z-index: -1;
}

.horizontalProgress {
  height: 5px;
  background: var(--main-1);
}

.verticalBar {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
  transform: translateX(-50%);
  width: 5px;
  height: calc(100% - 50px);
  background: var(--grey-2);
  z-index: -1;
}

.verticalProgress {
  width: 5px;
  background: var(--main-1);
}

@media (max-width: 660px) {
  .container {
    padding: 0;
  }

  .stages {
    flex-direction: column;
    gap: 30px;
  }

  .horizontalBar {
    display: none;
  }
  
  .verticalBar {
    display: block;
  }
}
