.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.stages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}

.bar {
  position: absolute;
  top: 25px;
  width: calc(100% - 100px);
  height: 5px;
  background: var(--grey-2);
  z-index: -1;
}

.progress {
  height: 5px;
  background: var(--main-1);
}
