.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50px;
  padding: 22px 25px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  white-space: nowrap;
  transition: var(--hover);
}

.button.big {
  height: auto;
}

.button.blue:active {
  background: var(--main-light-2) !important;
  border-color: var(--main-light-2) !important;
  color: #fff;
  transition: var(--hover);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 800px) {
  .button {
    height: 40px;
    gap: 5px;
    padding: 14px 15px;
    font-size: 18px;
  }

  .button.big {
    height: auto;
  }
}
