.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 35px;
  font-size: 20px;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
