.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }

  .side {
    display: none;
  }
}
