.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Пока дублируется, но, возможно, класс нужен будет в адаптивах */
.reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewSVG {
  width: 25px;
  height: 25px;
}

.reviewSVG path {
  fill: #FFF;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.labeled {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
