.header {
  border-bottom: 1px solid var(--grey-1);
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userSVG {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .header > div {
    height: 80px;
  }
}
