.header {
  border-bottom: 1px solid var(--grey-1);
  min-width: 1330px; /* TODO: fixed container */
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userSVG {
  width: 40px;
  height: 40px;
}
