.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formTemplate {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 20px;
}

.separator {
  background: var(--grey-1);
}

.mainFormSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.identityInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nameInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1110px) {
  .separator {
    display: none;
  }
  
  .formTemplate {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
