.banner {
  height: calc(100vh - 150px); /* header */
  max-height: 800px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.h1 {
  text-transform: uppercase;
}

.content {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.paragraph {
  font-size: 16px;
}

.highlighted {
  font-weight: 500;
}

.buttons {
  display: inline-flex;
  gap: 40px;
}

.swiper {
  max-width: 500px;
  margin: 0 !important;
}

.bullets {
  display: flex !important;
  gap: 40px !important;
}

.bullet {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: var(--main-light-2);
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  transition: var(--hover);
}

.bullet:not(:last-child)::after {
  position: absolute;
  right: -33px;
  top: 50%;
  transform: translateY(-50%);
  content: url('../../../images/blue-arrow.svg');
  pointer-events: none;
}

.active {
  background: var(--main-dark);
  transition: var(--hover);
}


@media (max-width: 1200px) {
  .spray {
    display: none;
  }
}

@media (max-width: 1110px) {
  .banner {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .content {
    max-width: 520px;
    gap: 15px;
  }

  .paragraph {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .content {
    max-width: 400px;
    gap: 10px;
  }

  .buttons {
    display: inline-flex;
    gap: 5px;
  }

  .button {
    font-size: 14px !important;
  }
}
