.banner {
  height: calc(100vh - 150px); /* header */
  max-height: 800px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.h1 {
  text-transform: uppercase;
}

.content {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 70px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.paragraph {
  font-size: 16px;
}

.highlighted {
  font-weight: 500;
}

.buttons {
  display: inline-flex;
  gap: 40px;
  flex-wrap: wrap; 
}

.swiper {
  max-width: 500px;
  margin: 0 !important;
}

.bullets {
  display: flex !important;
  gap: 40px !important;
}

.bullet {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: var(--main-light-2);
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  transition: var(--hover);
}

.bullet:not(:last-child)::after {
  position: absolute;
  right: -33px;
  top: 50%;
  transform: translateY(-50%);
  content: url('../../../images/blue-arrow.svg');
  pointer-events: none;
}

.active {
  background: var(--main-dark);
  transition: var(--hover);
}


@media (max-width: 1240px) {
  .buttons {
    gap: 20px;
  }

  .main {
    gap: 30px;
  }

  .content {
    gap: 40px;
  }
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 32px !important;
  }

  .content {
    max-width: 520px;
  }

  .bullet {
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 5px;
  }

  .bullets {
    gap: 10px !important;
  }

  .bullet:not(:last-child)::after {
    content: '';
  }

  .content {
    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 20px !important;
  }

  .content {
    max-width: 450px;
  }

  .paragraph {
    font-size: 14px;
  }

  .button > div {
    font-size: 18px;
    padding: 12px 15px;
  }

  .buttons {
    gap: 15px;
  }

  .main {
    gap: 20px;
  }

  .content {
    gap: 20px;
  }

  .text {
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .banner {
    flex-direction: column;
    height: auto;
    padding-top: 40px;
  }

  .swiper {
    width: 300px;
  }
}
