.rows {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.row:not(:first-child) {
  text-decoration: underline;
}

.rowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: var(--main-1);
  flex-shrink: 0;
}

.rowIcon svg path {
  fill: #fff;
}
